/* Algemene opmaak voor de hele pagina */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f2e7;
  color: #4e4a44;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* Zorg ervoor dat de body niet groter wordt dan de viewport */
  overflow-x: hidden; /* Voorkomt horizontaal scrollen */
}

/* Zorg ervoor dat padding en borders worden meegerekend in de breedte van een element */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header en navigatiebalk */
header {
  background-color: #d1c6b1;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Knop voor thema wisselen aan de linkerkant van de header, in het midden */
#theme-toggle {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 10px;
  background-color: #f7f2e7;
  color: #4e4a44;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#theme-toggle:hover {
  background-color: #4e4a44;
  color: #f7f2e7;
}

@media screen and (max-width: 768px) {
  #theme-toggle {
    position: relative;
    top: 10px;
    left: 2px;
  }
}

/* Navigatiebalk */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4e4a44;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #b19a6a;
}

/* Main sectie */
main {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%; /* Zorg ervoor dat de main-sectie niet groter wordt dan de viewport */
}

/* Styling voor het filters-sectie */
#filters {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  background-color: #f7f2e7;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

/* Styling voor labels */
#filters label {
  color: #4e4a44;
  width: 80px;
  display: inline-block;
  margin-bottom: 8px;
}

/* Styling voor de input- en select-velden */
#filters input,
#filters select {
  padding: 10px;
  border: 1px solid #a7a47d;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ffffff;
  width: 220px;
}

/* Responsief ontwerp voor kleinere schermen */
@media (max-width: 768px) {
  #filters {
    flex-direction: column;
    align-items: stretch;
  }

  #filters input,
  #filters select {
    width: 100%;
    margin-bottom: 10px;
  }

  #filters label {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* Introductie sectie */
#intro {
  background-color: #f7f2e7;
  padding: 20px;
  border: 1px solid #d1c6b1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}

#intro h2 {
  font-size: 2em;
  color: #a7a47d;
}

#intro p {
  font-size: 1.2em;
  color: #4e4a44;
}

/* Wat je kunt doen op deze website */
#kenmerken {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#kenmerken h3 {
  font-size: 1.8em;
  color: #a7a47d;
  margin-bottom: 20px;
}

#kenmerken ul {
  list-style-type: none;
  padding: 0;
}

#kenmerken li {
  font-size: 1.2em;
  color: #4e4a44;
  margin-bottom: 15px;
}

/* Art Card styling */
.art-card {
  background-color: #f7f2e7;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.art-card:hover {
  transform: scale(1.05);
}

.art-card img {
  width: 100%;
  height: 200px;
  /* Zorgt ervoor dat de afbeelding proportioneel blijft en de container vult */
  object-fit: cover;
  border-radius: 8px;
}

.art-card h3 {
  font-size: 1.2em;
  color: #a7a47d;
  margin-top: 10px;
}

.art-card p {
  color: #777;
  font-size: 1em;
}

/* Styling voor de kaart */
#map {
  height: 600px; /* Stel de hoogte van de kaart in */
  width: 100%;   /* De kaart vult de volledige breedte */
  border: 3px solid #a7a47d; /* Verander de randkleur naar een zachtere tint */
  border-radius: 12px; /* Maak de hoeken van de kaart ronder */
  margin-top: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Verhoog de schaduw voor een dieper effect */
  transition: transform 0.3s ease-in-out; /* Voeg een animatie toe voor hover-effect */
}

#map:hover {
  transform: scale(1.05); /* Maak de kaart iets groter bij hover */
}

/* Styling voor de header */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

/* Favorite button styling */
.favorite-btn {
  background-color: #d1c6b1;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  border-color: #a7a47d;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.favorite-btn:hover {
  background-color: #b19a6a;
}

/* Street art sectie */
#street-art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  /* Zorgt ervoor dat de sectie in het midden van de pagina komt */
  margin: 40px auto;
  text-align: center;
}

#street-art h3 {
  font-size: 2em;
  color: #a7a47d;
  margin-bottom: px;
}

#street-art p {
  font-size: 1.2em;
  color: #4e4a44;
  margin-bottom: 30px;
}

/* Styling voor de data-container binnen street-art sectie */
#data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

/* Footer */
footer {
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 1em;
  color: white;
}

/* Responsieve aanpassingen voor kleinere schermen */
@media (max-width: 768px) {
  #intro h2 {
    font-size: 1.5em;
  }

  #kenmerken h3 {
    font-size: 1.2em;
  }

  #kenmerken li {
    font-size: 1em;
  }

  .art-card {
    width: 100%;
    margin: 10px 0;
  }

  .art-card h3 {
    font-size: 1.2em;
  }

  #data-container {
    justify-content: center;
  }

  #kenmerken ul {
    text-align: left;
    padding-left: 20px;
  }

  #kenmerken li {
    font-size: 0.9em;
  }

  #intro {
    padding: 20px;
  }
}

/* Stijlen voor het donkere thema */
body.dark-theme {
  background-color: #121212; /* Donkere achtergrond */
  color: #ffffff; /* Witte tekstkleur voor de body */
}

/* Header en navigatiebalk in donkere modus */
body.dark-theme header {
  background-color: #444; /* Donkere achtergrond voor de header */
  color: #ffffff; /* Witte tekstkleur in de header */
}

body.dark-theme nav ul li a {
  color: #ffffff; /* Witte tekstkleur voor de links in de donkere modus */
}

body.dark-theme nav ul li a:hover {
  color: #d1c6b1; /* Groene hoverkleur voor links in de donkere modus */
}

/* Filters sectie in donkere modus */
body.dark-theme #filters {
  background-color: #121212; /* Donkere achtergrond voor filters */
}

body.dark-theme #filters label,
body.dark-theme #filters input,
body.dark-theme #filters select {
  background-color: #121212; /* Donkere achtergrond voor de inputvelden */
  color: #ffffff; /* Witte tekstkleur voor de labels en velden */
  border-color: #d1c6b1; /* Groene randkleur voor inputvelden */
}

/* Intro sectie in donkere modus */
body.dark-theme #intro {
  background-color: #444; /* Donkere achtergrond voor de intro sectie */
  color: #ffffff; /* Witte tekstkleur voor de intro sectie */
}

body.dark-theme #intro h2 {
  color: #d1c6b1; /* Groene kleur voor kopjes in de intro sectie */
}

body.dark-theme #intro p {
  color: #ffffff; /* Witte kleur voor de paragraaf in de intro sectie */
}

/* Kenmerken sectie in donkere modus */
body.dark-theme #kenmerken h3 {
  color: #d1c6b1; /* Groene kleur voor kopjes in de kenmerken sectie */
}

body.dark-theme #kenmerken li {
  color: #ffffff; /* Witte tekstkleur voor de items in de kenmerken lijst */
}

/* Art Card in donkere modus */
body.dark-theme .art-card {
  background-color: #121212; /* Donkere achtergrond voor de art card */
  color: #ffffff; /* Witte tekstkleur voor de art card */
}

body.dark-theme .art-card h3 {
  color: #d1c6b1; /* Groene kleur voor de kopjes in de art card */
}

body.dark-theme .art-card p {
  color: #ffffff; /* Witte kleur voor de tekst in de art card */
}

/* Favorite button in donkere modus */
body.dark-theme .favorite-btn {
  background-color: #d1c6b1; /* Groene achtergrondkleur voor de button */
}

body.dark-theme .favorite-btn:hover {
  background-color: #d1c6b1; /* Lichtere hoverkleur voor de button */
}

/* Street Art sectie in donkere modus */
body.dark-theme #street-art {
  background-color: #444; /* Donkere achtergrond voor street art sectie */
  color: #ffffff; /* Witte tekstkleur voor de street art sectie */
}

body.dark-theme #street-art h3 {
  color: #d1c6b1; /* Groene kleur voor kopjes in de street art sectie */
}

body.dark-theme #street-art p {
  color: #ffffff; /* Witte tekstkleur voor de paragraaf in street art sectie */
}

/* Footer in donkere modus */
body.dark-theme footer {
  background-color: #444; /* Donkere achtergrond voor de footer */
  color: #ffffff; /* Witte tekstkleur voor de footer */
}

footer p {
  color: #d1c6b1; /* Witte tekstkleur voor de tekst in de footer */
}

/* Styling voor de Language Switcher container */
#language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f2e7;  /* Aangename lichte achtergrondkleur */
  padding: 10px 20px;  /* Ruimte rondom de knoppen */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Lichte schaduw om het element uit te laten steken */
  margin: 20px 0; /* Ruimte boven en onder de language switcher */
}

/* Styling voor de knoppen */
#language-switcher button {
  background-color: #d1c6b1; /* Achtergrondkleur van de knoppen */
  color: #4e4a44;  /* Tekstkleur */
  border: 1px solid #a7a47d;  /* Randkleur van de knoppen */
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;  /* Ruimte tussen de knoppen */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Voor een soepele hover effect */
}

/* Styling voor de Language Switcher container */
#language-switcher {
  position: absolute; /* Absoluut gepositioneerd ten opzichte van de viewport */
  right: 20px;  /* Plaats de switcher rechts op de pagina */
  top: 20px;    /* Voeg een beetje ruimte bovenaan toe */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f2e7;  /* Aangename lichte achtergrondkleur */
  padding: 10px 20px;  /* Ruimte rondom de knoppen */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Lichte schaduw om het element uit te laten steken */
  margin: 20px 0; /* Ruimte boven en onder de language switcher */
}

/* Styling voor de knoppen */
#language-switcher button {
  background-color: #d1c6b1; /* Achtergrondkleur van de knoppen */
  color: #4e4a44;  /* Tekstkleur */
  border: 1px solid #a7a47d;  /* Randkleur van de knoppen */
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;  /* Ruimte tussen de knoppen */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Voor een soepele hover effect */
}

/* Hover effect voor de knoppen */
#language-switcher button:hover {
  background-color: #a7a47d; /* Verandert naar een donkere kleur bij hover */
  color: #fff; /* Witte tekstkleur bij hover */
}

/* Active knopstijl (optioneel, als je bijhoudt welke taal geselecteerd is) */
#language-switcher button.active {
  background-color: #4e4a44; /* Donkerder voor de actieve knop */
  color: #fff;  /* Witte tekstkleur voor de actieve knop */
  border-color: #4e4a44;  /* Dezelfde kleur als de achtergrond voor de actieve knop */
}

