/* Algemene opmaak voor de hele pagina */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f2e7;
  color: #4e4a44;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  background-color: #d1c6b1;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 10px;
  background-color: #f7f2e7;
  color: #4e4a44;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#theme-toggle:hover {
  background-color: #4e4a44;
  color: #f7f2e7;
}

@media screen and (max-width: 768px) {
  #theme-toggle {
    position: relative;
    top: 10px;
    left: 2px;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4e4a44;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #b19a6a;
}

main {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

#filters {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  background-color: #f7f2e7;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

#filters label {
  color: #4e4a44;
  width: 80px;
  display: inline-block;
  margin-bottom: 8px;
}

#filters input,
#filters select {
  padding: 10px;
  border: 1px solid #a7a47d;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ffffff;
  width: 220px;
}

@media (max-width: 768px) {
  #filters {
    flex-direction: column;
    align-items: stretch;
  }

  #filters input,
  #filters select {
    width: 100%;
    margin-bottom: 10px;
  }

  #filters label {
    width: 100%;
    margin-bottom: 5px;
  }
}

#intro {
  background-color: #f7f2e7;
  padding: 20px;
  border: 1px solid #d1c6b1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}

#intro h2 {
  font-size: 2em;
  color: #a7a47d;
}

#intro p {
  font-size: 1.2em;
  color: #4e4a44;
}

#kenmerken {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#kenmerken h3 {
  font-size: 1.8em;
  color: #a7a47d;
  margin-bottom: 20px;
}

#kenmerken ul {
  list-style-type: none;
  padding: 0;
}

#kenmerken li {
  font-size: 1.2em;
  color: #4e4a44;
  margin-bottom: 15px;
}

.art-card {
  width: calc(33.333% - 40px); 
  max-width: 300px; 
  background-color: #f7f2e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  margin: 10px; 
  font-size: small;
  
}

.art-card:hover {
  transform: scale(1.05);
}

.art-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.art-card h3 {
  font-size: 1.2em;
  color: #a7a47d;
  margin-top: 10px;
}

.art-card p {
  color: #777;
  font-size: 1em;;
}


h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
}

.favorite-btn {
  background-color: #d1c6b1;
  color: white;
  font-weight: bold;
  border-color: #a7a47d;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  
}

.favorite-btn:hover {
  background-color: #b19a6a;
}

#street-art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
}

#street-art h3 {
  font-size: 2em;
  color: #a7a47d;
}

#street-art p {
  font-size: 1.2em;
  color: #4e4a44;
  margin-bottom: 30px;
}

#data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Zorgt ervoor dat ze netjes gecentreerd worden */
  width: 100%;
  max-width: 1000px; /* Optioneel, om te zorgen dat ze niet te breed uitrekken */
}

footer {
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 1em;
  color: white;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 1.5em;
  }

  #kenmerken h3 {
    font-size: 1.2em;
  }

  #kenmerken li {
    font-size: 1em;
  }

  .art-card {
    width: 100%;
    margin: 10px 0;
  }

  .art-card h3 {
    font-size: 1.2em;
  }

  #data-container {
    justify-content: center;
  }

  #kenmerken ul {
    text-align: left;
    padding-left: 20px;
  }

  #kenmerken li {
    font-size: 0.9em;
  }

  #intro {
    padding: 20px;
  }
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.dark-theme header {
  background-color: #444;
  color: #ffffff;
}

body.dark-theme nav ul li a {
  color: #ffffff;
}

body.dark-theme nav ul li a:hover {
  color: #d1c6b1;
}

body.dark-theme #filters {
  background-color: #121212;
}

body.dark-theme #filters label,
body.dark-theme #filters input,
body.dark-theme #filters select,
body.dark-theme #language-switcher {
  background-color: #121212;
  color: #ffffff;
  border-color: #d1c6b1;
}

body.dark-theme #intro {
  background-color: #444;
  color: #ffffff;
}

body.dark-theme #intro h2 {
  color: #d1c6b1;
}

body.dark-theme #intro p {
  color: #ffffff;
}

body.dark-theme #kenmerken h3 {
  color: #d1c6b1;
}

body.dark-theme #kenmerken li {
  color: #ffffff;
}

body.dark-theme .art-card {
  background-color: #121212;
  color: #ffffff;
}


body.dark-theme .art-card h3 {
  color: #d1c6b1;
}

body.dark-theme .art-card p {
  color: #ffffff;
}

body.dark-theme .favorite-btn {
  background-color: #d1c6b1;
}

body.dark-theme .favorite-btn:hover {
  background-color: #d1c6b1;
}

body.dark-theme #street-art {
  background-color: #444;
  color: #ffffff;
}

body.dark-theme #street-art h3 {
  color: #d1c6b1;
}

body.dark-theme #street-art p {
  color: #ffffff;
}

body.dark-theme footer {
  background-color: #444;
  color: #ffffff;
}

footer p {
  color: #d1c6b1;
}

#language-switcher {
  position: fixed; /* Zorgt ervoor dat het switcher altijd bovenaan de pagina blijft */
  right: 20px; /* Plaatst het 20px van de rechterrand */
  top: 20px; /* Plaatst het 20px van de bovenkant */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Zorgt ervoor dat het switcher boven andere elementen komt */
}

#language-switcher {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 10px;
  background-color: #f7f2e7;
  color: #4e4a44;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#language-switcher:hover {
  background-color: #4e4a44;
  color: #f7f2e7;
}

@media screen and (max-width: 768px) {
  #language-switcher {
    position: relative;
    top: 10px;
    left: 2px;
  }
}
